MINIO_ENDPOINT=localhost:27010
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET_NAME=cusmos-preprocessing

MLFLOW_S3_ENDPOINT_URL=http://localhost:27440
MLFLOW_TRACKING_URI=http://localhost:27442

AWS_ACCESS_KEY_ID=minio
AWS_SECRET_ACCESS_KEY=miniostorage

KAFKA_ADDR=localhost:9092
KAFKA_TOPIC=test-topic
# group id: 0

APP_PORT=15461
APP_ENV=production # or development
